@model CrudTest25.Web.Models.ViewModels.AddCategoryRequest;

@{
}
<h3>
    Add Category
</h3>

<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="Name" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="Name"></span>

    </div>
    <div class="mb-3">
        <label for="displayName" class="form-label">Display Name</label>
        <input type="text" class="form-control" id="displayName" name="DisplayName">
        <span class="text-danger" asp-validation-for="DisplayName"></span>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>